@import url('https://fonts.googleapis.com/css2?family=Lato:wght@300&family=Nanum+Gothic&family=Oswald:wght@200;300;400;500;600;700&family=Poppins&display=swap');

body {
    text-align: center;
    font-family: 'Poppins', sans-serif;
}

#question {
    font-size: 30px;
    padding: 35px 5px;
    font-weight: normal;
}


#answers-holder {
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: center;
    flex-wrap: wrap;
    flex-grow: 1;
    background-color: lightslategray;
    padding: 5% 2%;
}

.option {
    display: none;
}


/* Option box styles */
.options {
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: center;
    border-width: 8px;
    border-style: solid;
    border-color: black;
    min-width: 200px;
    max-width: 1000px;
    width: 35%;
    min-height: 100px;
    max-height: 200px;
    height: 30%;
    margin: 10px;
    text-align: center;
    background-color: white;
    margin: 10px 40px;
    font-size: 20px;
}

/* credit to https://stackoverflow.com/questions/26754497/css-disable-hover-effect for all hover style logic*/
#option1-box {
    &:not(.answer-green, .answer-grey, .answer-red) {
        border-color: blue;
    } 
    &:not(.option1-box-checked):hover {
        color: blue;
    }
}

#option2-box {
    &:not(.answer-green, .answer-grey, .answer-red) {
        border-color: rgb(255, 255, 0);
    } 
    &:not(.option2-box-checked):hover {
        color: rgb(255, 255, 0);
    }
}

#option3-box {
    &:not(.answer-green, .answer-grey, .answer-red) {
        border-color: orangered;
    }
    &:not(.option3-box-checked):hover {
        color: orangered;
    }
}

#option4-box {
    &:not(.answer-green, .answer-grey, .answer-red) {
        border-color: magenta;
    }
    &:not(.option4-box-checked):hover {
        color: magenta;
    }
}

.option1-box-checked {
    &:not(.answer-green, .answer-grey, .answer-red) {
        background-color: blue;
        color: white;
        font-weight: bold;
    }
}

.option2-box-checked {
    background-color: rgb(255, 255, 0);
    color: black;
    font-weight: bold;
}

.option3-box-checked {
    background-color: orangered;
    color: white;
    font-weight: bold;
}

.option4-box-checked {
    background-color: magenta;
    color: white;
    font-weight: bold;
}


.answer-grey {
    color: grey;
    border-color: grey;
    background-color: white;
}

.answer-green {
    color: green;
    border-color: green;
    background-color: white;
}

.answer-red {
    color: red;
    border-color: red;
    background-color: white;
}

#score-holder {
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: center;
    font-weight: bold;
}

#score-holder > p {
    padding: 10px 20px;
    margin: 0px 5px;
}

#main-buttons-holder {
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: center;
}

.main-buttons {
    min-width: 100px;
    max-width: 200px;
    height: 70px;
    width: 50%;
    font-size: 20px;
    font-weight: bold;
    border-color: black;
    margin: 15px;
}

#submit-button {
    background-color: rgb(4, 196, 4);
}

#nextQ-button {
    background-color: blue;
    color: white;
}



#score {
    color: green;
}

#incorrect-count {
    color: red;
}

@media screen and (min-width: 425px) {
    .options {
        width: 35%;
        height: 30%;
        margin: 10px;
        font-size: 30px;
    }

    #score-holder {
        font-size: 20px;
    }
}

@media screen and (min-width: 800px) {
    #question {
        font-size: 35px;
    }
}